---
import Payments from "@/components/features/Payments.astro";
import Github from "@/components/features/Github.astro";
import FirebaseAuth from "@/components/features/FirebaseAuth.astro";
import Deploy from "@/components/features/Deploy.astro";
import Stack from "@/components/features/Stack.astro";
---
<div
  class="grid grid-cols-1 md:grid-cols-2 text-center lg:grid-cols-6 lg:grid-rows-2 border-x border-t border-dashed border-zinc-200 dark:border-zinc-700">
 <Payments />
 <Github />
 <FirebaseAuth />
 <Deploy />
 <Stack />
</div>
