@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@theme {
--color-black: #1f1f1f;
--color-gray: #292929;
--color-highlight: #CEFDFE;
--font-family-sans: "Geist", sans serif;
--font-family-mono: "Geist Mono", sans serif;

}
* {
    border: px solid red;
}