---
import StarBottomLeft from "@/components/assets/StarBottomLeft.astro";
import StarBottomRight from "@/components/assets/StarBottomRight.astro";
import StarTopLeft from "@/components/assets/StarTopLeft.astro";
import StarTopRight from "@/components/assets/StarTopRight.astro";
const features = [
  "Custom API integration",
  "Optimized database setup",
  "User authentication system",
  "5-day core development",
  "Real-time server monitoring",
  "Secure data encryption",
  "Cloud deployment scalability",
];
---

<div
  class="flex flex-col h-full justify-between relative bg-white/30 dark:bg-black lg:border-r border-zinc-200 dark:border-zinc-700">
  <div class="p-8 relative">
    <StarTopRight />
    <StarTopLeft />

    <div class="flex flex-col">
      <p
        class="text-black dark:text-white text-2xl lg:text-3xl tracking-tight font-medium text-balance font-mono">
        Backend
      </p>
      <p class="lg:text-xl mt-2 text-black dark:text-white font-mono">
        $000
        <span class="text-zinc-700 dark:text-zinc-400 text-xs font-bold">
          USD + Local tax
        </span>
      </p>
    </div>
    <div class="mt-8">
      <p class="text-sm text-black dark:text-white font-semibold1380">
        What you get:
      </p>
      <ul
        class="flex flex-col mt-2 list-none list-inside text-sm 2xl:text-base text-zinc-500 dark:text-zinc-400 gap-y-2"
        role="list">
        {
          features.map((item) => (
            <li>
              <div class="flex gap-2 items-center">
                <div class=" ring-1 ring-zinc-200 dark:ring-zinc-700 p-[0.110rem] bg-white/5 shadow  rounded-sm ">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-check size-2.5">
                    <>
                      <path
                        stroke="none"
                        d="M0 0h24v24H0z"
                        fill="none"
                      />
                      <path d="M5 12l5 5l10 -10" />
                    </>
                  </svg>
                </div>
                {item}
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div
    class="flex justify-center relative w-full border-t border-dashed border-zinc-200 dark:border-zinc-700 reltaive">
    <StarTopRight />
    <StarTopLeft />
    <StarBottomLeft />
    <StarBottomRight />
    <a
      href="#_"
      class="flex h-16 items-center justify-center w-full duration-500 dark:bg-white dark:text-black bg-black text-white dark:hover:ring-zinc-700 dark:hover:bg-white/10 dark:hover:text-white hover:bg-black/10 hover:text-black rounded-full text-lg font-mono">
      Get the backend!
    </a>
  </div>
</div>
