---
import Backend from "./Backend.astro";
import BackendFrontend from "./BackendFrontend.astro";
---
<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 relative border border-t-none border-dashed border-zinc-200 dark:border-zinc-700">
  <div
    class="gap-8 p-8 flex flex-col col-span-full lg:col-span- justify-between h-full text-black dark:text-white relative border-dashed border-b border-zinc-200 dark:border-zinc-700">
    <div>
      <p
        class="text-black dark:text-white text-2xl lg:text-3xl tracking-tight font-medium text-balance font-mono">
        Simple pricing
      </p>
      <p class="text-base text-zinc-500 dark:text-zinc-400 mt-2">
        Start selling your Github repository access today.
      </p>
    </div>
  </div>
  <Backend />
  <BackendFrontend />
</div>
