---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Logo from "@/components/global/Logo.astro";
import StarBottomLeft from "@/components/assets/StarBottomLeft.astro";
import StarBottomRight from "@/components/assets/StarBottomRight.astro";
import StarTopLeft from "@/components/assets/StarTopLeft.astro";
import StarTopRight from "@/components/assets/StarTopRight.astro";
---

<BaseLayout>
  <Logo />
  <div
    class="gap-12 items-end border-x border-y border-dashed border-zinc-200 dark:border-zinc-700 p-8 relative">
    <StarTopRight />
    <StarTopLeft />
    <StarBottomLeft />
    <StarBottomRight />
    <div class="max-w-xl mx-auto">
      <div class="prose-styles">
        <h1>About</h1>
        <p>
          Easily make money from your code by giving customers secure access to
          your GitHub repositories. Just connect GitHub with Lemon Squeezy,
          Gumroad, or Polar, and start taking payments. You’ll get a simple
          dashboard to manage everything and secure sign-in with Firebase. There
          are also guides to help you deploy on Netlify or Vercel. Built with
          Astro JS and Tailwind CSS for smooth performance, you can start
          selling your repos today with clear, hassle-free pricing.
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
