---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Logo from "@/components/global/Logo.astro";
import StarBottomLeft from "@/components/assets/StarBottomLeft.astro";
import StarBottomRight from "@/components/assets/StarBottomRight.astro";
import StarTopLeft from "@/components/assets/StarTopLeft.astro";
import StarTopRight from "@/components/assets/StarTopRight.astro";
---

<BaseLayout>
  <Logo />
  <div
    class="gap-12 items-end border-x border-y border-dashed border-zinc-200 dark:border-zinc-700 p-8 relative">
    <StarTopRight />
    <StarTopLeft />
    <StarBottomLeft />
    <StarBottomRight />
    <div class="max-w-xl mx-auto">
      <div class="prose-styles">
        <h1>Privacy policy</h1>
        <p>
          If you are a California resident, the California Consumer Privacy Act,
          as amended by the California Privacy Rights Act of 2020 (“CCPA”),
          requires us to provide some additional information to California
          residents. This Section only applies to you if you are a California
          resident, although please note that this information and the rights
          afforded herein are the same as offered to our other users in our main
          Privacy Policy. This Section does not apply to personal information we
          collect from our employees and job applicants in their capacity as
          employees and job applicants, as such information practices are
          described in separate policies.
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
