---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Logo from "@/components/global/Logo.astro";
import StarBottomLeft from "@/components/assets/StarBottomLeft.astro";
import StarBottomRight from "@/components/assets/StarBottomRight.astro";
import StarTopLeft from "@/components/assets/StarTopLeft.astro";
import StarTopRight from "@/components/assets/StarTopRight.astro";
---

<BaseLayout>
  <Logo />
  <div
    class="gap-12 items-end border-x border-y border-dashed border-zinc-200 dark:border-zinc-700 p-8 relative">
    <StarTopRight />
    <StarTopLeft />
    <StarBottomLeft />
    <StarBottomRight />
    <div class="max-w-xl mx-auto">
      <div class="prose-styles">
        <h1>Terms of Service</h1>
        <p>
          This privacy policy sets out how Unwrapped AB collects, processes and
          uses your Personal Information through your use of our Services.
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
