---
import { Image } from "astro:assets";
import Vercel from "@/logos/vercel.svg";
import Netlify from "@/logos/netlify.svg";
---

<div
  class="relative lg:col-span-2 md:border-l border-b lg:border-b-0 border-dashed border-zinc-200 dark:border-zinc-700">
  <div class="relative flex h-full flex-col overflow-hidden">
    <div
      class="relative overflow-hidden w-full flex items-center justify-center gap-12 h-full min-h-80 border-t border-dashed border-zinc-200 dark:border-zinc-700">
      <svg
        class="absolute inset-0  text-zinc-500 dark:text-white/30"
        viewBox="0 0 646 258"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M289.777 0.763184L161.485 257.236"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M190.282 0.763184L0.112793 95.9302"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M157.116 0.763184L0.112793 63.6252"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M123.953 0.763184L0.112305 42.0852"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M223.448 0.763184L0.112305 149.761"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M90.7873 0.763184L0.112305 26.6972"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M24.4553 0.763184L0.112305 6.17918"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M57.6213 0.763184L0.112305 15.1552"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M555.1 0.763184L645.888 26.7442"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M322.943 0.763184L322.721 257.236"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M588.266 0.763184L645.888 15.1892"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M621.428 0.763184L645.887 6.20618"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M521.934 0.763184L645.888 42.1482"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M488.768 0.763184L645.888 63.7122"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M422.438 0.763184L645.887 150.009"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M455.604 0.763184L645.887 96.0702"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M356.109 0.763184L483.959 257.236"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M256.611 0.763184L0.25 257.236"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M389.272 0.763184L645.194 257.236"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.194 257.237H0.250488"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 35.7646H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 12.2925H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 17.0781H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 22.4907H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 4.2085H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 8.02979H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 189.342H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 44.021H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 28.6641H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 0.763184H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 53.7397H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 65.3506H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 148.756H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 79.4639H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 96.9849H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M645.887 119.317H0.112793"
       stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>


      <div
       class="shadow size-20 flex items-center rounded-full scale-[200%] bg-white dark:bg-zinc-800 relative">
        <Image
          class="h-12 dark:invert"
          src={Vercel}
          alt="logo"
        />
      </div>
      <div
       class="shadow size-20 flex items-center rounded-full scale-[200%] bg-white dark:bg-zinc-800 relative">
        <Image
          class="h-12 dark:invert"
          src={Netlify}
          alt="logo"
        />
      </div>
    </div>
    <div class="p-10 pb-4 order-first">
      <p
        class="text-lg/7 font-medium font-mono tracking-tight text-black dark:text-white text-balance">
        Docs for configuring and deploying to Netlify & Vercel
      </p>
      <p class="mt-2 max-w-lg text-sm/6 text-zinc-500 dark:text-zinc-400">
        Step-by-step guides for seamless deployment to Netlify and Vercel.
      </p>
    </div>
  </div>
</div>
