---
import { Image } from "astro:assets";
import Firebase from "@/logos/firebase.svg";
---

<div
  class="relative lg:col-span-2 border-b lg:border-b-0 border-dashed border-zinc-200 dark:border-zinc-700">
  <div class="relative flex h-full flex-col overflow-hidden">
    <div
      class="min-h-80 border-t border-dashed border-zinc-200 dark:border-zinc-700 flex flex-col items-center justify-center relative overflow-hidden">
      <div
        class="absolute inset-0 bg-gradient-to-t z-10 from-white/70 via-white/20 dark:from-black/80 dark:via-black/20 sr-only">
      </div>
      <svg
        class="absolute inset text-zinc-800 dark:text-white/50"
        viewBox="0 0 648 648"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M646.925 1L425.095 222.735V425.305L646.925 646.777"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.793 108.77L475.735 222.736L475.739 425.302L646.787 539.549"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.793 216.361L627.659 222.735L627.662 425.301L646.787 431.688"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M161.969 1L273.175 222.735L273.172 425.299L162.386 646.777"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.793 162.573L526.376 222.735L526.379 425.302L646.787 485.611"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M1.01552 109.026L171.892 222.735L171.889 425.301L1.00952 539.301"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M1.00586 162.718L121.239 222.736V425.305L1.00886 485.47"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M1.00293 194.94L70.5959 222.735V425.304L1.00893 453.165"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M1 216.427L19.952 222.736V425.305L1.009 431.626"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M485.26 1L374.455 222.735V425.305L484.856 646.777"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.793 194.847L577.016 222.736L577.022 425.302L646.787 453.256"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M323.615 1L323.815 222.735V422.543L323.621 646.777"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M1.15039 1L222.531 222.735L222.528 425.302L1.15039 646.777"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.925 204.807H1.15063"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.925 193.225H1.15063"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.925 161.678H1.15063"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.925 69.5771H1.15063"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.925 139.408H1.15063"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.925 179.151H1.15063"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.925 214.501H1.15063"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.925 110.048H1.15063"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.787 508.857H1.00903"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.787 486.525H1.00903"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.787 469.005H1.00903"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.787 538.297H1.00903"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.787 454.895H1.00903"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.787 443.283H1.00903"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.787 433.562H1.00903"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.787 578.883H1.00903"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.787 425.305H1.00903"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M1.30029 222.735H647.047"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M1.30029 273.375H647.047"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M1.30029 324.016H647.047"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M1.30029 374.655H647.047"
         stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <mask
          id="mask0_2_85"
          style="mask-type:luminance"
          maskUnits="userSpaceOnUse"
          x="1"
          y="646"
          width="646"
          height="1">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M1.15063 646.277H646.095V646.903H1.15063V646.277Z"
            fill="white"
          ></path>
        </mask>
        <g mask="url(#mask0_2_85)">
          <path
            d="M646.095 646.777H1.15063"
            stroke="black"
            stroke-width="0.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </g>
      </svg>



      <Image
        class="size-52 scale-[250%] -mb-72 relative"
        src={Firebase}
        alt="Lemons Squeezy"
      />
    </div>
    <div class="p-10 pb-4 order-first">
      <p
        class="text-lg/7 font-medium font-mono tracking-tight text-black dark:text-white text-balance">
        Firebase authentication for sign-in and login
      </p>
      <p class="mt-2 max-w-lg text-sm/6 text-zinc-500 dark:text-zinc-400">
        Seamlessly enable user sign-in and login with Firebase's secure
        authentication system.
      </p>
    </div>
  </div>
</div>
