---
import { Image } from "astro:assets";
import One from "@/avatars/1.svg";
import repoStore from "@/logos/repoStore.svg";
---

<div
  class="relative lg:col-span-3 md:border-l border-b border-dashed border-zinc-200 dark:border-zinc-700"
>
  <div class="relative flex h-full flex-col overflow-hidden justify-between">
    <div
      class="h-full min-h-80 border-t border-dashed border-zinc-200 relative overflow-hidden dark:border-zinc-700 relative flex flex-col items-center justify-center"
    >
      <svg
        class="absolute inset text-zinc-500 dark:text-white/30"
        viewBox="0 0 647 647"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M323.86 375.095V646.779"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M298.139 375.095L162.236 646.779"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M349.217 375.095L484.654 646.779"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M221.448 375.095L1.00049 485.311"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M247.057 375.095L1 539.25"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M272.596 375.095L1.01611 646.794"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M1.00024 404.832L221.448 349.603"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M426.129 375.095L646.722 485.299"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M400.299 375.095L646.722 539.682"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M646.722 404.897L426.129 349.587"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M374.76 375.095L645.861 646.779"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M1.00024 324.151L221.448 324.01"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M1.00024 243.471L221.448 298.418"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M221.448 272.687L1.00049 162.468"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M246.828 272.687L1.00049 109.106"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M349.477 272.687L485.246 1"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M272.492 272.687L1.00049 1.78003"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M298.155 272.687L161.895 1"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M323.86 1.00043V272.687"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M400.8 272.687L646.722 108.849"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M375.139 272.687L646.722 1.20099"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M426.129 272.759L646.722 162.467"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M646.722 243.396L426.129 298.431"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M646.722 324.145L426.129 324.007"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M34.4546 468.585H613.266V179.196H34.4546V468.585Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M62.0986 454.764H585.602V193.015H62.0986V454.764Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M85.2986 443.165H562.384V204.616H85.2986V443.165Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M104.721 433.456H542.946V214.327H104.721V433.456Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M121.221 425.206H526.436V222.577H121.221V425.206Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M135.407 418.111H512.238V229.667H135.407V418.111Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M147.738 411.947H499.898V235.834H147.738V411.947Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M158.556 406.538H489.073V241.241H158.556V406.538Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M168.122 401.759H479.502V246.024H168.122V401.759Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M176.637 397.499H470.975V250.283H176.637V397.499Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M184.274 393.681H463.334V254.101H184.274V393.681Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M191.155 390.239H456.446V257.54H191.155V390.239Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M197.391 387.122H450.206V260.66H197.391V387.122Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M646.722 10.2685H1"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M646.722 69.6318H1"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M646.722 110.099H1"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M646.722 139.456H1"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M646.722 161.722H1"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M646.722 508.871H1"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M646.722 538.31H1"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M646.722 578.893H1"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M646.722 638.425H1"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M221.449 375.095H426.13V272.687H221.449V375.095Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M217.399 377.118H430.183V270.663H217.399V377.118Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M213.014 379.31H434.571V268.471H213.014V379.31Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M208.254 381.691H439.335V266.09H208.254V381.691Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M203.066 384.285H444.528V263.498H203.066V384.285Z"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M646.722 486.542H1"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>

      <div class="flex flex-col items-center justify-center -mb-32 relative">
        <div
          class="border border-zinc-200 dark:border-zinc-700 h-1 p-1 shadow w-64 bg-zinc-100 border-b-0 rounded-t-xl dark:bg-white/5"
        >
        </div>
        <div
          class="border border-zinc-200 dark:border-zinc-700 h-1 p-1 shadow w-72 border-b-0 bg-zinc-50 dark:bg-white/10 rounded-t-xl"
        >
        </div>
        <div
          class="border border-zinc-200 dark:border-zinc-700 p-8 rounded-xl shadow bg-white dark:bg-zinc-900"
        >
          <div class="flex items-center justify-center gap-4 relative z-10">
            <div
              class="size-20 border border-zinc-200 dark:border-zinc-700 flex items-center justify-center rounded-full bg-zinc-50 dark:bg-zinc-900"
            >
              <Image class="size-8 dark:invert" src={repoStore} alt="logo" />
            </div>
            <div
              class="size-12 bg-white dark:bg-white/5 flex items-center text-black dark:text-white rounded-full"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-6 mx-auto"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg
              >
            </div>
            <div class="size-20 overflow-hidden rounded-full">
              <Image
                class="size-20 dark:invert object-cover"
                src={One}
                alt="One"
              />
            </div>
          </div>
          <div class="mt-4 text-center">
            <p class="text-sm/6 text-zinc-500 dark:text-zinc-400">
              repoStore has invited you to collaborate
            </p>
            <div class="mt-4 flex items-center gap-2">
              <button
                class="flex items-center justify-center transition-all duration-200 t focus:outline-none text-white bg-[#277c3b] hover:bg-[#376842] h-9 px-4 py-2 text-sm font-medium rounded-md"
              >
                Accept invitaction
              </button>
              <button
                class="flex items-center justify-center transition-all duration-200 focus:ring-2 t focus:outline-none text-black bg-zinc-50 hover:bg-zinc-100 focus:ring-zinc-500/50 h-9 px-4 py-2 dark:invert text-sm font-medium rounded-md"
              >
                Decline
              </button>
            </div>
          </div>
          <div class="mt-4 text-left">
            <div
              class="flex items-center gap-2 text-zinc-500 dark:text-zinc-400"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-lock size-4"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"
                ></path><path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"
                ></path><path d="M8 11v-4a4 4 0 1 1 8 0v4"></path></svg
              >
              <p class="text-xs/6">Owner of repoStore will be able to see:</p>
            </div>
            <ul
              class="list-disc list-inside text-sm/6 text-zinc-500 dark:text-zinc-400 mt-2"
            >
              <li>Your public profile information</li>
              <li>
                <span class="text-blue-500">Certain activity</span> within this repository
              </li>
              <li>Country of request origin</li>
              <li>Your access level for this repository</li>
              <li>Your IP address</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="p-10 pb-4 order-first">
      <p
        class="text-lg/7 font-medium font-mono tracking-tight text-black dark:text-white text-balance"
      >
        Tailored dashboard with repository list
      </p>
      <p class="mt-2 max-w-lg text-sm/6 text-zinc-500 dark:text-zinc-400">
        Easily manage and view your repositories on the dashboard.
      </p>
    </div>
  </div>
</div>
