---
import { Image } from "astro:assets";
import Lemon from "@/logos/lemon.svg";
import Gumroad from "@/logos/gumroad.svg";
import Polar from "@/logos/polar.svg";
---

<div
  class="relative lg:col-span-3 border-b border-dashed border-zinc-200 dark:border-zinc-700">
  <div class="relative flex h-full flex-col overflow-hidden">
    <div
      class="relative overflow-hidden w-full flex items-center justify-center gap-12 h-full min-h-80 border-t border-dashed border-zinc-200 dark:border-zinc-700">
      <svg
        class="absolute inset text-zinc-500 dark:text-white/30"
        viewBox="0 0 648 647"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M356.132 260.256L485.94 0.500244"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M419.345 260.256L647.473 108.27"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M324.526 260.256L324.291 0.500244"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M545.767 260.256L647.473 231.227"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M577.373 260.256L647.474 242.751"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M482.554 260.256L647.473 194.35"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M450.952 260.256L647.473 162.076"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M514.161 260.256L647.473 215.861"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M103.286 260.256L1.6958 231.275"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M608.979 260.256L647.473 251.712"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M640.585 260.256L647.473 258.881"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M134.892 260.256L1.69507 215.927"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M198.105 260.256L1.69556 162.22"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M292.92 260.256L162.646 0.500244"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M71.6793 260.256L1.69531 242.785"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M166.498 260.256L1.69507 194.444"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M229.711 260.256L1.69556 108.529"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M8.47031 260.256L1.69531 258.903"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M40.0763 260.256L1.69531 251.74"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M261.314 260.256L1 0.500244"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M387.739 260.256L647.586 0.500244"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M8.32286 386.685L1.55786 388.041"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M39.9291 386.685L1.55713 395.223"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M355.998 386.685L485.405 646.278"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M450.817 386.685L647.333 485.112"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M419.21 386.685L647.332 539.05"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M482.426 386.685L647.332 452.757"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M514.032 386.685L647.333 431.189"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M608.851 386.685L647.332 395.248"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M577.245 386.685L647.333 404.234"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M324.392 386.685L324.166 646.278"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M545.638 386.685L647.332 415.785"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M640.46 386.685L647.332 388.063"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M71.5351 386.685L1.55811 404.2"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M103.142 386.685L1.55762 415.742"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M229.57 386.685L1.55786 538.803"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M134.748 386.685L1.55811 431.126"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M166.358 386.685L1.55762 452.669"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M197.963 386.685L1.55737 484.974"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M292.782 386.685L162.93 646.278"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M261.176 386.685L1.6958 646.278"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M387.604 386.685L646.64 646.278"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 386.685H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.64 646.278H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.586 0.5H1.00049"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 424.805H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 401.333H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 406.122H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 411.535H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 393.25H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 397.07H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 578.385H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 433.062H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 417.705H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 389.807H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 442.784H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 454.395H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 537.8H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 468.508H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 486.026H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.333 508.358H1.55762"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 109.551H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 214.001H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 178.652H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 138.909H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 69.0776H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 161.181H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 192.728H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 249.898H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 240.872H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 235.472H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 245.648H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 257.146H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 253.71H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 260.256H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 222.235H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 204.307H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M647.473 229.317H1.69531"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>


      <div
        class="shadow size-20 flex items-center rounded-full scale-[200%] bg-white dark:bg-zinc-800 relative">
        <Image
          class="h-16"
          src={Polar}
          alt="logo"
        />
      </div>
      <div
        class="shadow size-20 flex items-center rounded-full scale-[200%] bg-white dark:bg-zinc-800 relative">
        <Image
          class="h-16"
          src={Gumroad}
          alt="logo"
        />
      </div>
      <div
        class="shadow size-20 flex items-center rounded-full scale-[200%] bg-white dark:bg-zinc-800 relative">
        <Image
          class="h-16"
          src={Lemon}
          alt="logo"
        />
      </div>
    </div>
    <div class="p-10 pb-4 order-first">
      <p
        class="text-lg/7 font-medium font-mono tracking-tight text-black dark:text-white text-balance">
        Select your preferred payment provider
      </p>
      <p class="mt-2 max-w-lg text-sm/6 text-zinc-500 dark:text-zinc-400">
        Connect your GitHub and start accepting payments with Lemon Squeezy,
        Gumroad, or Polar.
      </p>
    </div>
  </div>
</div>
