---
import { Image } from "astro:assets";
import Astrojs from "@/logos/astrojs.svg";
import Tailwind from "@/logos/tailwind.svg";
---

<div
  class="relative lg:col-span-2 md:border-r lg:border-r-0 lg:border-l border-b lg:border-b-0 border-dashed border-zinc-200 dark:border-zinc-700">
  <div class="relative flex h-full flex-col overflow-hidden">
    <div
      class="relative overflow-hidden w-full flex items-center justify-center gap-12 h-full min-h-80 border-t border-dashed border-zinc-200 dark:border-zinc-700">
      <svg
        class="absolute inset text-zinc-500 dark:text-white/30"
        viewBox="0 0 647 648"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M197.406 387.241L1 485.53"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M1.00031 404.784L197.406 355.578"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M1.00031 324.097L197.406 323.972"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M1.00031 243.411L197.406 292.363"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M1.00031 162.724L197.406 260.757"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M1.00031 82.0342L197.406 229.15"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M229.012 387.241L1.00049 539.359"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M355.44 387.241L484.847 646.834"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M323.834 387.241L323.608 646.834"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M260.618 387.241L1.0694 646.903"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M292.228 387.241L162.373 646.834"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M387.047 387.241L646.083 646.834"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.775 81.8149L450.259 229.147"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.775 243.332L450.259 292.362"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.775 162.574L450.259 260.753"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.775 324.091L450.259 323.969"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.775 404.85L450.259 355.575"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M450.259 387.241L646.775 485.668"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M418.653 387.241L646.775 539.606"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.637 1.05615L450.259 197.518"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M1.6922 1.05615L197.406 197.193"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M485.402 1.05615L450.259 71.3132"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M452.993 1.05615L450.259 7.90015"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M467.345 1.05615L450.259 39.5062"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M162.351 1.05615L197.406 71.1161"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M194.665 1.05615L197.406 7.90315"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M180.305 1.05615L197.407 39.5092"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M139.264 1.05615L197.406 102.722"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M508.344 1.05615L450.259 102.719"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M539.102 1.05615L450.259 134.325"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M582.165 1.05615L450.259 165.934"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M108.482 1.05615L197.406 134.328"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M65.3777 1.05615L197.406 165.934"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M485.311 1L450.259 71.112"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.775 508.914H1.00067"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.775 538.356H1.00067"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.775 578.942H1.00067"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.775 638.481H1.00067"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M646.775 486.582H1.00067"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M450.259 1.05615V387.241H197.406V1.05615"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M456.489 1.05615L456.492 390.36H191.17V1.05615"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M463.364 1.05615L463.367 393.806H184.285L184.289 1.05615"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M470.994 1.05615L470.997 397.627H176.649L176.653 1.05615"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M479.507 1.05615L479.51 401.889H168.131L168.133 1.05615"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M489.063 1.05615L489.066 406.675H158.565L158.568 1.05615"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M499.872 1.05615L499.875 412.088L147.749 412.091V1.05615"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M512.191 1.05615L512.197 418.261H135.415L135.419 1.05615"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M526.369 1.05615L526.372 425.362H121.226L121.229 1.05615"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M542.854 1.05615L542.857 433.618H104.727L104.73 1.05615"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M562.26 1.05615L562.264 443.337L85.3045 443.34V1.05615"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M585.441 1.05615L585.447 454.948L62.1012 454.951L62.1052 1.05615"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M613.618 1.05615L613.624 469.061H33.8999L33.9029 1.05615"
          stroke="currentColor"
          stroke-width="0.10"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>

 
      <div
        class="shadow size-24 flex items-center rounded-full scale-[200%] bg-white dark:bg-zinc-800 relative">
        <Image
          class="h-16 dark:invert"
          src={Astrojs}
          alt="logo"
        />
      </div>
      <div
        class="shadow size-24 flex items-center rounded-full scale-[200%] bg-white dark:bg-zinc-800 relative">
        <Image
          class="h-16"
          src={Tailwind}
          alt="logo"
        />
      </div>
    </div>
    <div class="p-10 pb-4 order-first">
      <p
        class="text-lg/7 font-medium font-mono tracking-tight text-black dark:text-white text-balance">
        Crafted on Astro JS and Tailwind CSS
      </p>
      <p class="mt-2 max-w-lg text-sm/6 text-zinc-500 dark:text-zinc-400">
        Developed using Astro JS for performance and Tailwind CSS for
        streamlined styling.
      </p>
    </div>
  </div>
</div>
