---
import StarBottomLeft from "@/components/assets/StarBottomLeft.astro";
import StarBottomRight from "@/components/assets/StarBottomRight.astro";
---

<footer>
  <div
    class="border-b border-x border-dashed border-zinc-200 dark:border-zinc-700 bg-white/30 dark:bg-white/5 p-8 relative">
    <StarBottomLeft />
    <StarBottomRight />
    <p class="relative text-sm text-black dark:text-white">
      © 2023 repoStore. All rights reserved.
    </p>
  </div>
</footer>
